<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="css/index.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded ">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="index.html">WEConnect</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <a class="nav-link text" href="businessCatalog.html">catalog</span>
        </a>
        <a class="nav-link text" href="manageBusiness.html">manage business</span>
        </a>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a href="manageBusiness.html">
            <span> Add a Business</span>
          <lii class="fa fa-plus-circle fa-lg fa-fw" aria-hidden="true"></i>
        </a>
      </form>
       <form class="form-inline my-2 my-lg-0">
        <a class="nav-link text" href="index.html"><span>sign in</span>
        </a>
      </form>
      <form class="form-inline my-2 my-lg-0">
        <a class="nav-link text" href="signup.html"><span>sign up</span>
        </a>
      </form>
      <form class="form-inline my-2 my-lg-0">
        <a class="nav-link text" href="index.html"><span>log out</span>
        </a>
      </form>
    </div>
  </nav>
  </div>

  <div class="container">
    <div class="form-actions">
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3">
        <div class="text-center">
          <img src="images/irokotv.jpg" class="img-rounded" id="profile-image" alt="chefchef">
        </div>
      </div>

      <div class="col-md-9 personal-info">
        <div class="form-action">
          <h3>Business Profile</h3>
        </div>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-6 control-label">Business name: Iroko tv</label>

          </div>
          <div class="form-group">
            <label class="col-lg-6 control-label">Business Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, maxime. </label>
          </div>
          <div class="form-group">
            <label class="col-lg-6 control-label">Business Category: Online entertainment</label>
          </div>
          <div class="form-group">
              <label class="col-md-6 control-label">reviews: 256 reviews</label>
            </div>
          <div class="form-group">
            <label class="col-lg-6 control-label">Business Head Quarters: Lagos</label>
          </div>
          <div class="form-group">
            <label class="col-md-6 control-label">social network links:


              <h3>
                <a href="https://github.com/ddouglasz/moreRecipes ">
                  <i class="fa fa-twitter    " id="twitter" aria-hidden="true">
                    <strong>&nbsp;twitter</strong>
                  </i>
                </a>
              </h3>

              <h3>
                <a href="https://github.com/ddouglasz/moreRecipes ">
                  <i class="fa fa-linkedin   " id="linkedin" aria-hidden="true">
                    <strong>&nbsp;linkedin</strong>
                  </i>
                </a>
              </h3>

              <h3>
                <a href="https://github.com/ddouglasz/moreRecipes ">
                  <i class="fa fa-facebook   " id="facebook" aria-hidden="true">
                    <strong>&nbsp;facebook</strong>
                  </i>
                </a>
              </h3>

              </li>


            </label>
          </div>

         

            <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <a class="btn btn-primary" href="manageBusiness.html" role="button">Edit Business</a>
             </div>
          </div>
          
          <div class="form-group row">
            <label for="smFormGroupInput" class="col-sm-12 col-form-label col-form-label-lg"></label>
            <div class="col-sm-8">
              <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="add a review"></textarea>
            </div>
          </div>


          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <a class="btn btn-primary" href="businessProfile.html" role="button">Post Review</a>
              <input type="reset" class="btn btn-danger" value="Delete Business">
            </div>
          </div>


      </div>
    </div>
    </form>
  </div>
  </div>
  </div>
  <hr>
  <div>


    <br>
    <br>
    <br>
    <footer class="bg-color footer">
      <div class="col  ">
        <p>
          <div class="author float-left">Designed by: Douglas &nbsp;&nbsp; © 2017</div>
          <a href="https://github.com/ddouglasz/moreRecipes ">
            <i class="fa fa-github float-right text-white " aria-hidden="true">
              <strong>&nbsp;github</strong>
            </i>
          </a>
      </div>
      </button>
      </p>
  </div>
  </footer>


  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="js/designs.js"></script>
</body>

</html>