<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="css/index.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded ">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="index.html">WEConnect</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <a class="nav-link text" href="businessProfile.html">profile</span>
        </a>
        <a class="nav-link text" href="manageBusiness.html">manage business</span>
        </a>
      </ul>
      <form class="form-inline my-2 my-lg-0">
          <a href="manageBusiness.html">
              <span> Add a Business</span>
            <lii class="fa fa-plus-circle fa-lg fa-fw" aria-hidden="true"></i>
          </a>
        </form>
        <form class="form-inline my-2 my-lg-0">
          <a href="businessProfile.html">
              <span>Remove a Business</span>
            <i class="fa fa-minus-circle fa-lg fa-fw" aria-hidden="true"></i>
          </a>
        </form>
        <form class="form-inline my-2 my-lg-0">
          <a class="nav-link text" href="index.html"><span>sign in</span>
          </a>
        </form>
        <form class="form-inline my-2 my-lg-0">
          <a class="nav-link text" href="signup.html"><span>sign up</span>
          </a>
        </form>
        <form class="form-inline my-2 my-lg-0">
          <a class="nav-link text" href="index.html"><span>log out</span>
          </a>
        </form>
    </div>
  </nav>
  <div class="jumbotron2 jumbotron-fluid home-wrapper-catalog">
    <div class="container-overlay">
      <h1 class="display-3">Business Catalog</h1>
    </div>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <form>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Direct search" id=aria-label="">
            <span class="input-group-btn">
              <button class="btn btn-search" type="button" id="searchField">
                <strong>Search</strong>
              </button>
            </span>
          </div>
          <div class="input-group">
            <div class="search-category">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  search by category
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Entertainment</a>
                  <a class="dropdown-item" href="#">Engineering</a>
                  <a class="dropdown-item" href="#">Fashion</a>
                </div>
              </div>
            </div>
            <div class="search-location">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  search by location
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Lagos</a>
                  <a class="dropdown-item" href="#">Abuja</a>
                  <a class="dropdown-item" href="#">Port-Harcourt</a>
                </div>
              </div>
            </div>
          </div>
      </div>
      </form>
    </div>
  </div>
  </div>
  <div class="form-action">
    <h3 class="center-align">Popular Businesses</h3>
  </div>


  <div class="card-deck">

    <div class="card img-zoom" id="catalogForm">
      <img class="img img-fluid" src="images/printivo.jpg" alt="Card image cap" width="537.5">
      <div class="card-block">
        <h4 class="card-title detail-text">printivo</h4>
        <p class="card-text detail-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text">
          <a href="businessProfile.html">
            <i class="fa fa-info-circle fa-lg fa-fw" aria-hidden="true"></i>
            <strong>find out more</strong>
          </a>
          <a href="businessCatalog.html">
            <i class="fa fa-commenting-o" aria-hidden="true"></i>
            <strong>156 reviews</strong>
          </a>
        </p>
        <small class="text-muted">Last updated 4 mins ago</small>
        </p>
      </div>
    </div>

    <div class="card img-zoom" id="catalogForm">
      <img class="img img-fluid" src="images/andela-devs.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title detail-text">Andela</h4>
        <p class="card-text detail-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text">
            <a href="businessProfile.html">
                <i class="fa fa-info-circle fa-lg fa-fw" aria-hidden="true"></i>
                <strong>find out more</strong>
              </a>
              <a href="businessCatalog.html">
                <i class="fa fa-commenting-o" aria-hidden="true"></i>
                <strong>156 reviews</strong>
              </a>
            </p>
            <small class="text-muted">Last updated 4 mins ago</small> 
          </p>
      </div>
    </div>


    <div class="card img-zoom" id="catalogForm">
      <img class="img img-fluid img-zoom" src="images/farmcrowdy.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title detail-text">farm crowdy</h4>
        <p class="card-text detail-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text">
            <a href="businessProfile.html">
                <i class="fa fa-info-circle fa-lg fa-fw" aria-hidden="true"></i>
                <strong>find out more</strong>
              </a>
              <a href="businessCatalog.html">
                <i class="fa fa-commenting-o" aria-hidden="true"></i>
                <strong>156 reviews</strong>
              </a>
            </p>
            <small class="text-muted">Last updated 4 mins ago</small>        </p>
      </div>
    </div>
  </div>
  <div class="card-deck">

    <div class="card img-zoom" id="catalogForm">
      <img class="img img-fluid" src="images/irokotv.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title detail-text">iroko tv</h4>
        <p class="card-text detail-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text">
            <a href="businessProfile.html">
                <i class="fa fa-info-circle fa-lg fa-fw" aria-hidden="true"></i>
                <strong>find out more</strong>
              </a>
              <a href="businessCatalog.html">
                <i class="fa fa-commenting-o" aria-hidden="true"></i>
                <strong>156 reviews</strong>
              </a>
            </p>
            <small class="text-muted">Last updated 4 mins ago</small>        </p>
      </div>
    </div>


    <div class="card img-zoom" id="catalogForm">
      <img class="img img-fluid" src="images/airbnb.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title detail-text">airbnb</h4>
        <p class="card-text detail-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text">
            <a href="businessProfile.html">
                <i class="fa fa-info-circle fa-lg fa-fw" aria-hidden="true"></i>
                <strong>find out more</strong>
              </a>
              <a href="businessCatalog.html">
                <i class="fa fa-commenting-o" aria-hidden="true"></i>
                <strong>156 reviews</strong>
              </a>
            </p>
            <small class="text-muted">Last updated 4 mins ago</small>        </p>
      </div>
    </div>

    <div class="card img-zoom" id="catalogForm">
      <img class="img img-fluid" src="images/skarabrand-shop-floor.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title detail-text">skara brand online furnitures</h4>
        <p class="card-text detail-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text">
            <a href="businessProfile.html">
                <i class="fa fa-info-circle fa-lg fa-fw" aria-hidden="true"></i>
                <strong>find out more</strong>
              </a>
              <a href="businessCatalog.html">
                <i class="fa fa-commenting-o" aria-hidden="true"></i>
                <strong>156 reviews</strong>
              </a>
            </p>
            <small class="text-muted">Last updated 4 mins ago</small>        </p>
      </div>
    </div>
  </div>

  <div class="pagination-card">
    <nav aria-label="pages">
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="#">2
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
  <!--footer  -->
  <footer class="bg-color footer">
    <div class="col  ">
      <p>
        <div class="author float-left">Designed by: Douglas &nbsp;&nbsp; © 2018</div>
        <a href="https://github.com/ddouglasz/We-connect/tree/master">
          <i class="fa fa-github float-right text-white " aria-hidden="true">
            <strong>&nbsp;github</strong>
          </i>
        </a>
    </div>
    </button>
    </p>
  </footer>


  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="js/designs.js"></script>


</body>

</html>