<!DOCTYPE html>
<html lang="en">


<head>
  <title>catalog page - weconnect</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded ">
    <button class="navbar-toggler navbar-toggler-right" type="button" id="btn-nav" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="index.html">WEConnect</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <a class="nav-link text" href="businessProfile.html">Profile</span>
        </a>
      </ul>
      <form class="form-inline nav-close my-lg-0">
        <a class="nav-link text" href="manageBusiness.html">
          <span>Add Business</span>
          <li class="fa font-a fa-plus-circle fa-lg fa-fw" aria-hidden="true"></li>
        </a>
      </form>
      <form class="form-inline nav-close my-lg-0">
        <a class="nav-link text" href="index.html">
          <span>Sign In</span>
        </a>
      </form>
      <form class="form-inline nav-close my-lg-0">
        <a class="nav-link text" href="signup.html">
          <span>Sign Up</span>
        </a>
      </form>
      <form class="form-inline nav-close my-lg-0">
        <a class="nav-link text" href="index.html">
          <span>Log Out</span>
        </a>
      </form>
    </div>
  </nav>
  <div class="jumbotron2 jumbotron-fluid home-wrapper-catalog">
    <div class="container-overlay">
      <h1 class="display-3">Business Catalog</h1>
    </div>
    <div class="row ">
      <div class="col-sm-4 col-md-4 col-lg-4 cat-image">
      </div>
      <div class="col-sm-4 cat-image">
        <form>
          <div class="input-group input-search-field border-right=0" id="searchbar">
            <span class="input-group-dropdown" id="searchField">
              <div class="dropdown">
                <button class="btn  searchbar-decors text-white btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <a id="text-white">select:</a>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Location</a>
                  <hr>
                  <a class="dropdown-item" href="#">Category</a>
                </div>
              </div>
            </span>
            <input type="text" class="form-control SearchBar" id="input-search" placeholder="Direct search" id=aria-label="">
            <span class="input-group-btn">
              <button class="btn  searchbar-decors btn-search" type="button" id="searchField">
                <strong class="searchbtntext">
                  <a id="text-white">Search</a>
                </strong>
              </button>
            </span>
          </div>


      </div>
    </div>
    </form>
  </div>
  </div>
  </div>

  <div class="form-action">
    <h3 class="center-align">Popular Businesses</h3>
  </div>
  <div class="body-cover">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class=" img-zoom card-space">
          <a class="cat-form" href="businessProfile.html">
            <img class="img img-fluid" src="images/farmcrowdy.jpg" alt="Card image cap" width="537.5">
          </a>
          <div class="card-block">
            <h4 class="card-title detail-text">farm crowdy</h4>
            <p class="card-text detail-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text">
              <div class="icons ">
                <a href="businessProfile.html">
                  <i class="fa fa-info-circle fa-lg fa-fw" aria-hidden="true"></i>
                  <strong>Find out more</strong>
                </a>
              </div>
              <div class="icons  ">
                <a href="businessCatalog.html">
                  <i class="fa fa-commenting-o" aria-hidden="true"></i>
                  <strong> 156 reviews</strong>
                </a>
              </div>
            </p>
            <small class="updated" id="updated-text">Last updated 4 mins ago</small>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class=" img-zoom card-space">
          <a class="cat-form" href="businessProfile.html">
            <img class="img img-fluid" src="images/irokotv.jpg" alt="Card image cap" width="537.5">
          </a>
          <div class="card-block">
            <h4 class="card-title detail-text">iroko tv</h4>
            <p class="card-text detail-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text">
              <div class="icons ">
                <a href="businessProfile.html">
                  <i class="fa fa-info-circle fa-lg fa-fw" aria-hidden="true"></i>
                  <strong>Find out more</strong>
                </a>
              </div>
              <div class="icons  ">
                <a href="businessCatalog.html">
                  <i class="fa fa-commenting-o" aria-hidden="true"></i>
                  <strong> 156 reviews</strong>
                </a>
              </div>
            </p>
            <small class="updated" id="updated-text">Last updated 4 mins ago</small>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class=" img-zoom card-space">
          <a class="cat-form" href="businessProfile.html">
            <img class="img img-fluid" src="images/airbnb.jpg" alt="Card image cap" width="537.5">
          </a>
          <div class="card-block">
            <h4 class="card-title detail-text">airbnb</h4>
            <p class="card-text detail-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text">
              <div class="icons ">
                <a href="businessProfile.html">
                  <i class="fa fa-info-circle fa-lg fa-fw" aria-hidden="true"></i>
                  <strong>Find out more</strong>
                </a>
              </div>
              <div class="icons  ">
                <a href="businessCatalog.html">
                  <i class="fa fa-commenting-o" aria-hidden="true"></i>
                  <strong> 156 reviews</strong>
                </a>
              </div>
            </p>
            <small class="updated" id="updated-text">Last updated 4 mins ago</small>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class=" img-zoom card-space">
          <a class="cat-form" href="businessProfile.html">
            <img class="img img-fluid" src="images/hotels.jpg" alt="Card image cap" width="537.5">
          </a>
          <div class="card-block">
            <h4 class="card-title detail-text">Hotels.ng</h4>
            <p class="card-text detail-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text">
              <div class="icons ">
                <a href="businessProfile.html">
                  <i class="fa fa-info-circle fa-lg fa-fw" aria-hidden="true"></i>
                  <strong>find out more</strong>
                </a>
              </div>
              <div class="icons  ">
                <a href="businessCatalog.html">
                  <i class="fa fa-commenting-o" aria-hidden="true"></i>
                  <strong> 156 reviews</strong>
                </a>
              </div>
            </p>
            <small class="updated" id="updated-text">Last updated 4 mins ago</small>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class=" img-zoom card-space">
          <a class="cat-form" href="businessProfile.html">
            <img class="img img-fluid" src="images/Andeladevs.jpg" alt="Card image cap" width="537.5">
          </a>
          <div class="card-block">
            <h4 class="card-title detail-text">Andela</h4>
            <p class="card-text detail-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text">
              <div class="icons ">
                <a href="businessProfile.html">
                  <i class="fa fa-info-circle fa-lg fa-fw" aria-hidden="true"></i>
                  <strong>find out more</strong>
                </a>
              </div>
              <div class="icons ">
                <a href="businessCatalog.html">
                  <i class="fa fa-commenting-o" aria-hidden="true"></i>
                  <strong> 156 reviews</strong>
                </a>
              </div>
            </p>
            <small class="updated" id="updated-text">Last updated 4 mins ago</small>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class=" img-zoom card-space">
          <a class="cat-form" href="businessProfile.html">
            <img class="img img-fluid" src="images/printivomug.jpg" alt="Card image cap" width="537.5">
          </a>
          <div class="card-block">
            <h4 class="card-title detail-text">Printivo</h4>
            <p class="card-text detail-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text">
              <div class="icons ">
                <a href="businessProfile.html">
                  <i class="fa fa-info-circle fa-lg fa-fw" aria-hidden="true"></i>
                  <strong>Find out more</strong>
                </a>
              </div>
              <div class="icons  ">
                <a href="businessCatalog.html">
                  <i class="fa fa-commenting-o" aria-hidden="true"></i>
                  <strong> 156 reviews</strong>
                </a>
              </div>
            </p>
            <small class="updated" id="updated-text">Last updated 4 mins ago</small>
          </div>
        </div>
      </div>
      <div class="col-lg-1"></div>
      <div class="pagination-card btn1-spacing">
        <nav aria-label="pages">
          <ul class="pagination">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="#">2
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </div>
      
      <footer class="bg-color footer">
        <div class="col  ">
          <p>
            <div class="author float-left">Designed by: Douglas &nbsp;&nbsp; © 2018</div>
            <a href="https://github.com/ddouglasz/We-connect/tree/master">
              <i class="fa fa-github float-right text-white " aria-hidden="true">
                <strong>&nbsp;github</strong>
              </i>
            </a>
        </div>
        </button>
        </p>
      </footer>

      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
      <script type="text/javascript" src="js/designs.js"></script>
    </div>
  </div>
</body>

</html>