<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>


<body>

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon color-white"></span>
        </button>
        <a class="navbar-brand" href="businessCatalog.html">
            <h3>
                <strong>WEConnect</strong>
            </h3>
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form class="form form-inline my-2 my-lg-0">
                <a href="ProfilePage.html">
                    More info
                    <i class="fa fa-info-circle fa-lg fa-fw" aria-hidden="true"></i>
                </a>
                &nbsp;&nbsp; &nbsp;&nbsp;
            </form>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid  home-wrapper-index">
        <div class="jumbotron-cover">
            <div class="row">

                <div class="col-md-5">
                    <div class="form-action" id="welcomeText">
                        <h1>
                            <a>WEConnect</a> You To your next business.</h1>
                    </div>
                </div>
                <div class="form-card col-lg-3"></div>
                <div class="col-lg-3">
                    <div class="card  text-center card-form" id="loginForm">
                        <div class="card-body">
                            <h2>
                                <a>Welcome to WEConnect</a>
                            </h2>
                            <a>To network with other businesses, sign in here </a>
                            <form>

                                <form class="form-signin">
                                    <div class="row">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon" style="width: 2.6rem">
                                                        <i class="fa fa-at"></i>
                                                    </div>
                                                    <input type="text" name="email" class="form-control" id="email" placeholder="E-Mail Address*" required autofocus>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon" style="width: 2.6rem">
                                                        <i class="fa fa-key"></i>
                                                    </div>
                                                    <input type="password" name="password" class="form-control text-white" id="password" placeholder="Password*" required>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                                </form>
                                <hr>
                                <h6 class="font-weight-light">New user?
                                    <a> | </a>
                                    <a href="signup.html" class="text-white">
                                        <strong>Sign Up</strong>
                                    </a>
                                </h6>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--footer  -->

    <footer class="bg-color footer">
        <div class="col  ">
            <div class="author float-left text-white">
                <a>Designed by: Douglas &nbsp;&nbsp; © 2018</a>
            </div>
            <h3>
                <a href="https://github.com/ddouglasz/We-connect/tree/master ">
                    <i class="fa fa-github float-right text-white " aria-hidden="true">
                        <strong>&nbsp;github</strong>
                    </i>
                </a>
            </h3>
        </div>
        </button>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/designs.js"></script>


</body>

</html>