<!DOCTYPE html>
<html lang="en">

<head>
  <title>manage business page - weconnect</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="css/index.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded ">
    <button class="navbar-toggler navbar-toggler-right" type="button" id="btn-nav" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="index.html">WEConnect</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <a class="nav-link text" href="businessProfile.html">Business profile</span>
        </a>
      </ul>

      <form class="form-inline nav-close my-sm-0">
        <a class="nav-link text" href="index.html">sign in</span>
        </a>
      </form>
      <form class="form-inline nav-close  my-sm-0">
        <a class="nav-link text" href="signup.html">sign up</span>
        </a>
      </form>
      <form class="form-inline nav-close  my-sm-0">
        <a class="nav-link text" href="index.html">log out</span>
        </a>
      </form>
    </div>
  </nav>
  </div>
       <!-- <div class="col-md-3"> </div> -->
       <footer class="bg-color footer">
          <div class="col  ">
            <p>
              <div class="author float-left">
                <i class="auth">Designed by: Douglas &nbsp;&nbsp; © 2017</i>
              </div>
              <a href="https://github.com/ddouglasz/We-connect/tree/master ">
                <i class="fa fa-github float-right text-white " aria-hidden="true">
                  <strong>&nbsp;github</strong>
                </i>
              </a>
          </div>
          <!-- </button> -->
          </p>
      <!-- </div> -->
      </footer>
  <div class="container">
    <div class="form-actions2">
      <h1>Find all businesses created by Mr.steve</h1>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-2">
        <div class="text-center">
          <img src="images/profileGlyph.jpg" class="img-rounded" id="profile-image" alt="chefchef">
          <h6>Upload a different photo...</h6>
          <input type="file" class="form-control btn-primary">
        </div>
        <div class="form-group form-spacing">
          <hr>
          <label>
            <strong>Full Name:</strong>Egiemeh Douglas</label>
          <h6>
            <strong>Bio:</strong> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quam repellat ab! Veritatis
            dolores illo optio totam minus tempore nesciunt quaerat, ad omnis, ex consequuntur quidem ipsum, accusantium
            enim quis recusandae et. Asperiores, nisi dolorum odio, minus quod tempore ut molestias eaque, doloribus nostrum
            architecto laborum officiis temporibus distinctio rem? </h6>
        </div>
      </div>

      <div class="col-md-10 personal-info">
        <form class="form-horizontal" role="form">
          <!-- <div class="form-action">
          </div> -->
          <div class="body-cover">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class=" img-zoom card-space">
                  <a class="cat-form" href="businessProfile.html">
                    <img class="img img-fluid" src="images/farmcrowdy.jpg" alt="Card image cap" width="537.5">
                  </a>
                  <div class="card-block">
                    <h4 class="card-title detail-text">farm crowdy</h4>
                    <p class="card-text detail-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text">
                      <div class="icons ">
                        <a href="businessProfile.html">
                          <i class="fa fa-info-circle fa-lg fa-fw" aria-hidden="true"></i>
                          <strong>find out more</strong>
                        </a>
                      </div>
                      <div class="icons  ">
                        <a href="businessCatalog.html">
                          <i class="fa fa-commenting-o" aria-hidden="true"></i>
                          <strong> 156 reviews</strong>
                        </a>
                      </div>
                    </p>
                    <small class="updated" id="updated-text">Last updated 4 mins ago</small>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class=" img-zoom card-space">
                  <a class="cat-form" href="businessProfile.html">
                    <img class="img img-fluid" src="images/irokotv.jpg" alt="Card image cap" width="537.5">
                  </a>
                  <div class="card-block">
                    <h4 class="card-title detail-text">iroko tv</h4>
                    <p class="card-text detail-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text">
                      <div class="icons ">
                        <a href="businessProfile.html">
                          <i class="fa fa-info-circle fa-lg fa-fw" aria-hidden="true"></i>
                          <strong>find out more</strong>
                        </a>
                      </div>
                      <div class="icons  ">
                        <a href="businessCatalog.html">
                          <i class="fa fa-commenting-o" aria-hidden="true"></i>
                          <strong> 156 reviews</strong>
                        </a>
                      </div>
                    </p>
                    <small class="updated" id="updated-text">Last updated 4 mins ago</small>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class=" img-zoom card-space">
                  <a class="cat-form" href="businessProfile.html">
                    <img class="img img-fluid" src="images/airbnb.jpg" alt="Card image cap" width="537.5">
                  </a>
                  <div class="card-block">
                    <h4 class="card-title detail-text">airbnb</h4>
                    <p class="card-text detail-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text">
                      <div class="icons ">
                        <a href="businessProfile.html">
                          <i class="fa fa-info-circle fa-lg fa-fw" aria-hidden="true"></i>
                          <strong>find out more</strong>
                        </a>
                      </div>
                      <div class="icons  ">
                        <a href="businessCatalog.html">
                          <i class="fa fa-commenting-o" aria-hidden="true"></i>
                          <strong> 156 reviews</strong>
                        </a>
                      </div>
                    </p>
                    <small class="updated" id="updated-text">Last updated 4 mins ago</small>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class=" img-zoom card-space">
                  <a class="cat-form" href="businessProfile.html">
                    <img class="img img-fluid" src="images/hotels.jpg" alt="Card image cap" width="537.5">
                  </a>
                  <div class="card-block">
                    <h4 class="card-title detail-text">hotels.ng</h4>
                    <p class="card-text detail-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text">
                      <div class="icons ">
                        <a href="businessProfile.html">
                          <i class="fa fa-info-circle fa-lg fa-fw" aria-hidden="true"></i>
                          <strong>find out more</strong>
                        </a>
                      </div>
                      <div class="icons  ">
                        <a href="businessCatalog.html">
                          <i class="fa fa-commenting-o" aria-hidden="true"></i>
                          <strong> 156 reviews</strong>
                        </a>
                      </div>
                    </p>
                    <small class="updated" id="updated-text">Last updated 4 mins ago</small>
                  </div>
                </div>
              </div>
            <!-- </div> -->
          <!-- </div> -->

              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class=" img-zoom card-space">
                  <a class="cat-form" href="businessProfile.html">
                    <img class="img img-fluid" src="images/Andeladevs.jpg" alt="Card image cap" width="537.5">
                  </a>
                  <div class="card-block">
                    <h4 class="card-title detail-text">Andela</h4>
                    <p class="card-text detail-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text">
                      <div class="icons ">
                        <a href="businessProfile.html">
                          <i class="fa fa-info-circle fa-lg fa-fw" aria-hidden="true"></i>
                          <strong>find out more</strong>
                        </a>
                      </div>
                      <div class="icons ">
                        <a href="businessCatalog.html">
                          <i class="fa fa-commenting-o" aria-hidden="true"></i>
                          <strong> 156 reviews</strong>
                        </a>
                      </div>
                    </p>
                    <small class="updated" id="updated-text">Last updated 4 mins ago</small>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class=" img-zoom card-space">
                  <a class="cat-form" href="businessProfile.html">
                    <img class="img img-fluid" src="images/printivomug.jpg" alt="Card image cap" width="537.5">
                  </a>
                  <div class="card-block">
                    <h4 class="card-title detail-text">printivo</h4>
                    <p class="card-text detail-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text">
                      <div class="icons ">
                        <a href="businessProfile.html">
                          <i class="fa fa-info-circle fa-lg fa-fw" aria-hidden="true"></i>
                          <strong>find out more</strong>
                        </a>
                      </div>
                      <div class="icons  ">
                        <a href="businessCatalog.html">
                          <i class="fa fa-commenting-o" aria-hidden="true"></i>
                          <strong> 156 reviews</strong>
                        </a>
                      </div>
                    </p>
                    <small class="updated" id="updated-text">Last updated 4 mins ago</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



          <!-- ......................... -->
          <div class="col-md-2"> </div>
              <div class="pagination-card btn1-spacing ">
                <div class="pagination-card btn1-spacing ">
                  <nav aria-label="pages">
                    <ul class="pagination">
                      <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">1</a>
                      </li>
                      <li class="page-item active">
                        <a class="page-link" href="#">2
                          <span class="sr-only">(current)</span>
                        </a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">3</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
           
              
              <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
                crossorigin="anonymous"></script>
              <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
                crossorigin="anonymous"></script>
              <script type="text/javascript" src="js/designs.js"></script>
</body>

</html>