html,
body {
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    font-family: "Museo Slab", sans-serif;
}

#welcomeText{
    text-align: center;
    font-weight: 200;
    /* opacity: 0.5; */
    color: #BBDEFB;
    /* font-family: "Museo Slab", sans-serif; */
    font-family: "Museo Slab";
    margin-top: 5rem;
}
#welcomeText a{
    text-align: center;
    font-weight: 200;
    /* opacity: 0.5; */
    color: #001f3f;
    /* font-family: "Museo Slab", sans-serif; */
    font-family: "lobster";
    margin-top: 5rem;
}

#email,
#password {
    background: transparent;
    -webkit-text-fill-color: white;
}

#email,
#searchField,
/* #dropdownMenuButton, */
#password,
#password:hover,
input[type=btn]:hover {
    border: 1px solid #ccc;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
#welcomeText a{
    text-align: center;
    font-weight: 200;
    /* opacity: 0.5; */
    color: #001f3f;
    /* font-family: "Museo Slab", sans-serif; */
    font-family: "lobster";
    margin-top: 5rem;
}

#email,
#password {
    background: transparent;
    -webkit-text-fill-color: white;
}



#email,
#searchField,
/* #dropdownMenuButton, */
#password,
#password:hover,
input[type=btn]:hover {
    border: 1px solid #ccc;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

 
#searchField {
    opacity: 0.5;
    background: #001f3f ;
}

 
.jumbotron {
    background: url("../images/businessIdeas.jpg")center center no-repeat fixed;
    background-size: cover;
    height: 700px;
    width: 100%;
    color: white;
    text-align: center;
    position: relative;
}

.jumbotron2 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/businessCatalog1.jpg");
    background-size: cover;
    height: 550px;
    width:100%;
    color: white;
    text-align: center;
  }

.jumbotron-cover {
    background: rgba(98, 116, 124, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}
